@import "./../mixins/_mixins",
"./../mixins/_colors";

.accordeon {
    background-color: $main_light;
    color: $main_dark;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    &:hover {
      background-color: $background_dark; 
    }
}
.accordeon__panel {
    padding: 0 18px;
    display: none;
    background-color: $main_light;
    overflow: hidden;
}
  
  .active{
    background-color: $background_dark; 
  }
  
