@import "../mixins/_mixins",
"../mixins/colors";

.hero-photo { 
    width: 100%;
    height: 800px;
    background-image:url("http://localhost:8080/src/photo/dummy_photo.png");
    background-size: cover;
    background-repeat: no-repeat;
}
    .main-header {
        font-size: 4rem;
        color: $main_light;
        margin-top: 50px;
        .main-header__part--hidden {
            background-color: $secondary;
            padding: 15px 0;
            text-align: center;
            display: none;
    
        }
        .main-header__part--dark {
            background-color: $main_dark;
            padding: 15px 30px;
            text-align: center;
        }
    }
    .fake-header{
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
        .fake-header__part--color{
            color: $main_light;
            font-size: 4rem;
            background-color: $secondary;
            padding: 15px 0;
            text-align: center;
            font-weight: bolder;
        }
    }
    
    .subheader {
        font-size: 2rem;
        color: $main_light;
        text-align: center;
// child classes below as a mixin functions
        @include subheader__part--("dark", $main_dark, $main_light, $main_light);
        @include subheader__part--("light", $main_light, $secondary, $main_light);
        @include subheader__part--("color", $secondary, $main_light, $main_light);
    
    }

    .media-bar{
        margin-top:50%;
    }



