@import "./../mixins/_mixins",
"./../mixins/_colors",
"./_counter.scss";

.tester{

   .tester__content{
      height: 100vh;
      overflow: scroll;
   
    .list {
        margin-left: 30px; 
        list-style: none;
        .list__item {
            padding: 10px;
            background-color: $background_dark;
            
         }
         .list__item--odd {
            padding: 10px;
            background-color: $main_light;
         }
         i{ 
            width: 16px;
            margin-right: 25px;
        }
     }
     .icon--header{
        margin-left: 10px;
        &:hover{
           color: $secondary;
        }
     }
     .icon--big{
        font-size: 200px;
        color: $background_dark;
     }
   }
}

@media screen and (max-width: 379px) {
   .tester{
      #w100{
         width: 100%;
      }
      #w85{
         width: 85%;
         float: right;
      }

      .tester__content{
       .list {
           margin-left: 50px; //
            i{ 
               width: 16px;
               margin-right: 5px; //
           }
        }
        .icon--big{
           margin-left: 50px; // 
        }
      }
   }
   .bgd-on-mobile{
      margin-top: -400px;
      position: relative;
      z-index: -1;
   }
   .bgd-on-mobile2{
      margin-bottom: -400px;
      padding-top: 100px;
      position: relative;
      z-index: -1;
   }
}