@import "../mixins/_mixins",
"../mixins/colors";

.navi {
    @include center;
    flex-direction: column;
    height: 500px;
    margin-bottom: 30px;

    .navi__photo {
        width: 300px;
        height: 300px;
        background: transparent url("http://localhost:8080/src/photo/Criss_Nowik_portrait_r.jpg") no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        transform: rotate(90deg);
        margin-left: -310px;
    }

    .navi__photo:before {
        content: "";
        position: absolute;
        top: 0;
        left: -1px;
        width: 0;
        height: 0;
        border-right: 75px solid transparent;
        border-bottom: 150px solid $main_light;
        border-top: 150px solid $main_light;
    }

    .navi__photo:after {
        content: "";
        position: absolute;
        top: 0;
        right: -1px;
        width: 0;
        height: 0;
        border-left: 75px solid transparent;
        border-bottom: 150px solid $main_light;
        border-top: 150px solid $main_light;
    }
    .navi__photo:hover{
        opacity: 0.7;
    }

    .navi__container {
        @include center;

        .navi__link {
            text-decoration: none;
            @include hexagon(300px, $sec_dark, 0, "navi__btn");
            .navi__btn{
                margin: 10px;
            }
            .navi__btn:hover{
                opacity: 0.7;
            }
            .navi__txt {
                color: $sec_light;
                font-size: 30px;
                margin: 0 0 5px 0;
                font-weight: bold;
                cursor: pointer;
            }

            .navi__ico {
                color: $sec_light;
                font-size: 70px;
                cursor: pointer;
            }
        }
        .cta--big {
            display: flex;
            justify-content: flex-end;
          
            .cta__link {
              text-decoration: none;
            }
            @include hexagon(300px, $sec_light, 0, "cta__btn" );
              .cta__btn{
                font-size: 30px;
                font-weight: bolder;
                color: $sec_dark;
                margin: 10px;
                .cta__icon{
                  font-size: 70px;
                  color: $sec_dark;
                  margin-top: 20px;
                }
              }    
                  .cta__btn:hover{
                    opacity: 0.7;
                  }
           }
    }
}

@media screen and (max-width: 950px ) {
.navi {
    margin: 110px 0 160px 0;
    .navi__photo {
        margin: 0;
    }
    .navi__container {
        @include center; 
        flex-wrap: wrap; 
        .cta--big {
              .cta__btn{
                margin: 75px 0 0 0; 
              }    
           }
        }
    }
}
@media screen and (max-width: 660px ) {
    .navi {
        // margin: 110px 0 160px 0;
        .navi__photo {
            margin: 0;
        }
        .navi__container {
            @include center; 
            flex-wrap: wrap; 
            .navi__link {
                @include hexagon(210px, $sec_dark, 0, "navi__btn");
                .navi__btn{
                    .navi__txt {
                        font-size: 20px;                   
                    }
                    .navi__ico {
                        font-size: 45px;
                    }
                }
            }
           
            .cta--big {
                @include hexagon(210px, $sec_light, 0, "cta__btn" );
                  .cta__btn{
                    font-size: 20px;
                    margin: 65px 0 0 0; 
                    .cta__icon{
                        font-size: 45px;
                      }
                  }    
               }
            }
        }
    }