@import "../mixins/_mixins",
"../mixins/colors";

.navi {
    @include center;
    flex-direction: column;
    
    .navi__photo {
        width: 400px;
        height: 200px;
        background: red;
        transform: rotate(120deg);
        overflow: hidden;
        visibility: hidden;
        .navi__photo--inside {
            width: 100%;
            height: 100%;
            background: green;
            transform: rotate(-60deg);
            overflow: hidden;
            .navi__photo--image {
                width: 100%;
                height: 100%;
                background-image: url("http://localhost:8080/src/photo/Criss_Nowik_portrait.jpg");
                background-position: center;
                background-size: 100% 100%;
                transform: rotate(-60deg);
                visibility: visible;
             }
         }
     }



    .navi__container {
        @include center;

        .navi__link {
            margin: 10px;
            text-decoration: none;
            @include hexagon(300px, $sec_dark, 0, "navi__btn");
        
            .navi__txt {
                color: $sec_light;
                font-size: 30px;
                margin: 0 0 5px 0;
                font-weight: bold;
                cursor: pointer;
            }

            .navi__ico {
                color: $sec_light;
                font-size: 70px;
                cursor: pointer;
            }
        }
    }

}