@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

@mixin fade-in-bottom {
@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    //   display: none;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    //   display: flex;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    //   display: none;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    //   display: flex;
    }
  }
}

@mixin fade-out-bottom {
@-webkit-keyframes fade-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    //   display: flex;
    }
    100% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    //   display: none;
    }
  }
  @keyframes fade-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    //   display: flex;
    }
    100% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    //   display: none;
    }
  }
}

