@import "scss/sidenav", 
        "scss/footer",
        "scss/header.scss",
        "scss/counter",
        "scss/mixins/_colors.scss";

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
  }
    
body {
  background-color: $thi_dark_2;
  @include gradient;
}

.container__sheet{
  width: 100%;
}
