@import "scss/sidenav", 
        "scss/footer",
        "scss/counter",
        "scss/mixins/_colors.scss";

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
    
body {
  background-color: $color_primary_0;
}

.container__sheet{
  width: 100%;
}
