@import "mixins/mixins",
"mixins/colors";

.counter--container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
}

@include hexagon(300px, $main_light_0, 0, "container--small");