@import "./mixins/_mixins",
        "./mixins/_colors";

.sidenav {
height: 100%;
width: 75px;
background: $main_dark;
position: fixed;
float: left;
display: flex;
align-items: flex-start;
justify-content: flex-start;

    .menu {
        list-style: none;
        .menu__item { 
            font-size: 25px;
            width: 75px;
            height: 75px;
            @include center;
            cursor: pointer;
        }
        .menu__item:hover{
            background: $secondary;
        }
        .menu__item--first{
            background: $secondary;
        }
        .menu__item--first:hover{
            background: $main_dark;
        }
        
     }
 }

 .link{
     color: $main_light;
     text-decoration: none;
 }


