@import "./mixins/_mixins",
"./mixins/_colors";

.hero-photo {
    width: 100%;
    height: 100vh;
    background-image: url("http://lorempixel.com/600/600/people/1/");
    background-size: cover;
    background-repeat: no-repeat;
}


.subsubheader { }
.small-title { }
.txt { }
.link {
    color: $main_light;
    text-decoration: none;
}
.cta-btn { }