@import "mixins/mixins";

.head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .head__link {
        text-decoration: none;

        .head__container {
            width: 100%;

            .head__header {
                font-size: 100px;
                color: $main_dark;
                text-align: center;
                width: 100%;
                margin: 0;
            }

            .head__subheader {
                font-size: 50px;
                color: $main_dark;
                width: 100%;
                text-align: center;
                margin-top: 0;
            }
        }
    }
}