     .footer {
      width: 100%;
      display: flex;
      background-color: #000;
      color: #fff;
      justify-content: center;
      flex-wrap: wrap;
    }
    
    .leftSide {
      width: 75%;
      display: flex;
      justify-content: space-around;
      font-family: Arial, sans-serif;  // remember to change on fontmixin when paste!
    }
    
    .rightSide {
      width: 25%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    
    .item {
      list-style: none;
      margin: 10px 0;
      text-align: left;
      a {
        text-decoration: none;
        &:link {
            color: #fff;
          }
        &:visited {
            color: #f00;
          }
        &:hover {
            color: #00f;
          }
      }
    }
    
    .media {
      width: 50%;
      text-align: center;
      margin-top: 20px;
      font-size: 40px;
      font-family: Arial, sans-serif; // remember to change on fontmixin when paste!
      p {
        font-size: 16px;
        margin-top: 5px;
      }
      a {
        text-decoration: none;
        &:link {
            color: #fff;
          }
        &:visited {
            color: #f00;
          }
        &:hover {
            color: #00f;
          }
      }
    }
    
    .column {
      padding: 10px 0;
    }
    
    .copyright{
      padding: 10px 0;
      font-family: Arial, sans-serif;
      display: flex;
      order: 9;
      p,a {
        font-size: 10px;
        text-decoration: none;
        text-align: center;
        color: #fff;
      }
    }
    
    .fa-facebook-square {
      color: #3b5998;
    }
    
    .fa-twitter-square{
      color: #1da1f2;
    }
    
    .fa-google-plus-square{
      color: #dd4b39;
    }
    
    .fa-envelope{
      color: #fff;
    }
    
    @media screen and (max-width: 990px) {
      .leftSide {
        flex-wrap: wrap;
        width: 100%;
        order: 2;
      }
      .listColumn {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 50%;
        padding: 0 30px;
      }
      .rightSide {
        width: 100%;
        order: 1;
      }
      .media {
        width: 25%;
      }
    }
    
    @media screen and (max-width: 550px) {
      .leftSide{
        flex-wrap: wrap;
        width: 100%;
        order: 2;
      }
      .listColumn {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        width: 100%;
        padding: 0 30px;
      }
      .rightSide {
        width: 100%;
        order: 1;
      }
      .media {
        width: 25%;
      }
    }
    

    .sidenav{
      float:right;
  }
  .sidenav_list{
      list-style:none;
  }
  .sidenav_link{
      text-decoration: none;
  }
  .sidenav_listItem{
  width: 50px;
  height: 27px;
  background: #ccc;
  position: relative;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;

  }
.sidenav__icon{
  color: #fff;
}
  .sidenav_listItem:hover{
      background-color: #000;
  }

  .sidenav_listItem::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 12px solid #ccc;
  }
  .sidenav_listItem:hover::before{
      border-bottom: 12px solid #000;
  }
  .sidenav_listItem::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 12px solid #ccc;
  }
  .sidenav_listItem:hover::after{
      border-top: 12px solid #000;
  }
  .even{
      margin-left: 28px;
  }