@import "mixins/mixins",
"mixins/colors";

.sidenav {
    float: right;
    .sidenav_list {
        list-style: none;
        .sidenav_link {
            text-decoration: none;
        }
        @include hexagon(50px, $main_light, 14px, "sidenav_listItem");
        .sidenav_listItem:hover::before {
            border-bottom: 12px solid $sec_light;
        }
        
        .sidenav_listItem:hover {
            background-color: $sec_light;
        }
        
        .sidenav_listItem:hover::after {
            border-top: 12px solid $sec_light;
        }
        .sidenav__icon {
            color: $thi_dark;
        }
    }
}



.even {
    margin-left: 28px;
}