@import "mixins/mixins",
"mixins/colors";

.sidenav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top:170px;
    right: 50px;
    z-index: 2;
    .sidenav_list {
        list-style: none;
        .sidenav_link {
            text-decoration: none;
        }
        @include hexagon(50px, $sec_light, 14px, "sidenav_listItem");
        .sidenav_listItem:hover {
            opacity: 0.7;
        }
        
        .sidenav__icon {
            color: $main_light;
        }
    }
}

.even {
    margin-left: 28px;
}
